/* -- << Best Coding Experts >> -- */
@import "font-awesome.min.css";

/* --** Reset CSS **-- */
* { margin: 0px; padding: 0px; -webkit-box-sizing: border-box; 	-moz-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; margin: 0; outline: 0; padding: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

body { font-family: 'Poppins', sans-serif; font-size: 15px; color: #747474; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%;  background: #fff; }
ul, ol { margin: 0 0 10px 25px; }
ol { list-style: square; }
ul { list-style: circle; }
ol:after, ul:after { content: ""; display: block; line-height: 0; clear: both; overflow: hidden; height: 0; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0; }
li { margin: 10px 0px 10px 0px; }

pre { padding: 0.1em 0.5em 0.3em 0.7em; border-left: 11px solid #ccc; margin: 1.7em 0 1.7em 0.3em; overflow: auto; max-width: 500px; }
code, samp, kbd { font-family: "Courier New", Courier, monospace, sans-serif; text-align: left; color: #555; }
pre code { line-height: 1.6em; font-size: 11px; }

table { margin: 25px auto; border-collapse: collapse; border: 1px solid #eee; border-bottom: 2px solid #00cccc; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05); width: 100%; }
table th { background: #00cccc; color: #fff; text-transform: uppercase; font-size: 12px; border: 1px solid #eee; padding: 12px 35px; }
table tr:hover { background: #f4f4f4; }
table tr:hover td { color: #555; }
table td { color: #999; border: 1px solid #eee; padding: 12px 35px; }
table th, td { font-weight: normal; text-align: left; vertical-align: middle; }
table tbody tr:nth-child(2n) { background: #f0f3f5; }

caption { font-weight: normal; text-align: left; }

h1,  h2, h3, h4, h5, h6 { color: #586778; font-weight: normal; }
h1 { font-size: 60px; margin: 5px 0px 15px 0px; }
h2 { font-size: 36px; margin: 5px 0px 15px 0px; }
h3 { font-size: 30px; margin: 5px 0px 15px 0px; }
h4 { font-size: 26px; margin: 5px 0px 15px 0px; }
h5 { font-size: 20px; margin: 5px 0px 15px 0px; }
h6 { font-size: 18px; margin: 5px 0px 15px 0px; }
p { margin: 5px 0px 15px 0px; line-height: 26px; }
em { font-style: italic; }
strong { font-weight: bold }
small { font-size: 80%; }
img { -ms-interpolation-mode: bicubic; border: 0; height: auto; max-width: 100%; vertical-align: middle; display: block;  }
figure { margin: 0; }

/* #Links */
a { color: #f2a755; outline: 0 none; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;  }
a:hover { text-decoration: none; }
a.more { padding-left: 28px; color: #7a594c; display: inline-block; position: relative; letter-spacing: 0.2px; font-family: 'Arial, Helvetica, sans-serif'; }
a.more:before { content: "\f0a9"; font-size: 130%; position: absolute; left: 0; top: -4px; font-family: fontawesome; }
a.more:hover { color: #c2ead6; }

/* #blockquote */
blockquote:before { top: 0; left: 0; content: "\201C"; }
blockquote:after { top: 0; right: 0; content: "\201D"; } 
q:before { top: 0; left: 0; content: "‘"; }
q:after { top: 0; right: 0; content: "’"; }
blockquote:before, blockquote:after { position: absolute; width: 60px; height: 60px; font-size: 120px; line-height: 1;}
blockquote, q { -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; quotes: none; }
blockquote { margin: 12px 0 12px 20px; border-left: 10px solid #ececec; position: relative; padding: 30px 70px; text-align: center; font-size: 20px; }

::-webkit-input-placeholder { color: rgba(51, 51, 51, 0.7); }
:-moz-placeholder { color: rgba(51, 51, 51, 0.7); }
::-moz-placeholder { color: rgba(51, 51, 51, 0.7); opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */ }
:-ms-input-placeholder { color: rgba(51, 51, 51, 0.7); }

/* #Forms */
fieldset { border: 0 none; }
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea, select { border: 1px solid #ececec; padding: 12px 13px; outline: none; font-size: 15px; font-family: 'Arial, Helvetica, sans-serif'; color: #c1c1c1; margin: 0; width: 280px; max-width: 100%; display: block; margin-bottom: 20px; background: #fff; height: 40px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus { border: 1px solid #ececec; color: #747474; -moz-box-shadow: 0 0 3px rgba(0,0,0,.2); -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2); box-shadow: 0 0 3px rgba(0,0,0,.2); }

input[type="text"] { position: relative; }
input[type="text"]:after { }

input[type="text"]::-webkit-input-placeholder:before { position: absolute; top: 0; left:0; background: #000; width: 10px; height: 10px; content:""; display: block;  }


select { padding: 0 0 1px 9px; letter-spacing: 0.9px; border-bottom: 2px solid #d3d3d3; color: #747474; height: 42px; -webkit-appearance: none; -moz-appearance: none; appearance: none; cursor: pointer; background: #ececec url(../images/select-arrow.png) no-repeat scroll 100% center; cursor: pointer; /*Removes border*/-webkit-appearance: none;  /*Removes default chrome and safari style*/ -moz-appearance: none; /* Removes Default Firefox style*/ appearance:none;/* background: #45bf54 url(../images/select-img.png) no-repeat 100% center; */ text-indent: 0.01px; /* Removes default arrow from firefox*/ text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/ background-size: 24px 40px; }
select::-ms-expand { /* for IE 11 */ display: none; }
select option  { padding: 7px 9px; border: 1px solid #ececec; border-left: none; border-right: none;  outline: none; }
select:focus  { padding: 0 0 1px 9px;  border: 1px solid #ececec; color: #747474; background: #fff url(../images/select-arrow.png) no-repeat scroll 100% center; cursor: pointer; /*Removes border*/-webkit-appearance: none;  /*Removes default chrome and safari style*/ -moz-appearance: none; /* Removes Default Firefox style*/ appearance:none;/* background: #45bf54 url(../images/select-img.png) no-repeat 100% center; */ text-indent: 0.01px; /* Removes default arrow from firefox*/ text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/ background-size: 24px 40px; }
textarea { min-height: 60px; }
label, legend { display: inline-block; font-weight: bold; font-size: 13px; }
label { cursor: pointer; margin-right: 50px;}
label:last-child { margin-right: 0;}
label span, legend span { font-weight: normal; font-size: 13px; color: #444; }

/* #Input Buttons */
.button, button, input[type="button"], input[type="Reset"] { padding: 11px 29px 11px 30px; border: 0 none; outline: none; color: #fff; cursor: pointer; display: inline-block; background: #f2a755; font-size: 15px; font-family: 'Arial, Helvetica, sans-serif'; border-radius: 6px; letter-spacing: 0.8px; }
.button:hover, button:hover, input[type="button"]:hover, input[type="Reset"]:hover { text-decoration: underline;} 

/* #Input Submit */
input[type="submit"] { padding: 8px 26px 8px 27px; border: 0 none; outline: none; cursor: pointer; display: inline-block; border: 3px solid #586778; color: #586778;  font-size: 15px; font-family: 'Arial, Helvetica, sans-serif'; border-radius: 6px; letter-spacing: 0.8px;  }
input[type="submit"]:hover { text-decoration: underline;} 

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* <<< Input Radio >>> */
input[type="radio"] { display:none; }
input[type="radio"] + label .check { display:inline-block;  margin: -4px 4px 0 0; vertical-align:middle; width: 20px; height: 19px;background:url(../images/radio-icn.png) left top no-repeat; background-size: 20px 19px; cursor:pointer;  }
input[type="radio"]:checked  + label .check { background:url(../images/radio-icn-active.png) left top no-repeat; background-size: 20px 19px; }
input[type="radio"]:disabled + label .check { background:url(../images/radio-icn.png) left top no-repeat; background-size: 20px 19px; cursor: not-allowed; }

/* <<< Input Checkbox >>> */
input[type="checkbox"] { display:none; }
input[type="checkbox"] + label .check { display:inline-block;  margin: -4px 4px 0 0px; vertical-align:middle; width: 20px; height: 19px;background:url(../images/check-icn.png) left top no-repeat; background-size: 20px 19px; cursor:pointer;  }
input[type="checkbox"]:checked  + label .check { background:url(../images/check-icn-active.png) left top no-repeat; background-size: 20px 19px; }
input[type="checkbox"]:disabled + label .check { background:url(../images/check-icn.png) left top no-repeat; background-size: 20px 19px; cursor: not-allowed; }

/* Global */
.container { max-width: 1320px; padding-left: 15px; padding-right: 15px; margin: 0 auto; }
.clear { content: ""; display: block; line-height: 0; clear: both; overflow: hidden; height: 0; }


